BasedOnStyle: Google
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: "^<[^/.]+>$"
    Priority: 1
  - Regex: "^<.*.(h|hh|hpp|hxx)>$"
    Priority: 2
  - Regex: "^<.*/.*>$"
    Priority: 2
  - Regex: '^".*"$'
    Priority: 3
  - Regex: ".*"
    Priority: 4
IndentPPDirectives: BeforeHash
BracedInitializerIndentWidth: 2
ColumnLimit: 120
